.astro-c-button-badge {
  background: linear-gradient(180deg, #C9190B 0%, #A30000 100%, #3D0000 100.01%);
  border-radius: 30px;
  height: 54px;
  padding: 2px 0 0 0;
  width: 54px;
  &:hover {
    background: var(--pf-v5-global--palette--red-300);
  }
  .astro__badge {
    width: 74%;
  }
}
