.pf-v5-c-card {
  &__header {
    .pf-v5-c-icon {
      margin-left: 8.5px;
      margin-top: 11px;
    }
  }
}

.astro-thumbs {
  button {
    --pf-v5-c-button--PaddingLeft: 0;
    --pf-v5-c-button--PaddingRight: 0;
    svg {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      text-align: center;
      line-height: 28px;
      vertical-align: middle;
      padding: 6px;
    }
    &.selected  {
      svg {
        background: rgba(red, .1) !important; 
        color: var(--pf-v5-global--danger-color--200) !important;
      }
    }
    &:disabled {
      svg {
        background: var(--pf-v5-global--BackgroundColor--100); 
        color: var(--pf-v5-global--icon--Color--light);
      }
    }
  }
}

.pf-v5-c-card-full-screen {
  .pf-v5-c-card {
    height: calc(100vh - 220px);
    @media screen and (max-width: 768px) {
      width: 100vw;
    }
    @media screen and (min-width: 769px) {
      width: 75vw;
    }
    @media screen and (min-width: 992px) {
      width: 50vw;
    }
    @media screen and (min-width: 1200px) {
      width: 40vw;
    }
  }
}

.astro-wrapper-stack {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20000;
  height: unset;

  .astro-wrapper-stack__badge {
    align-self: end;
  }

  .astro-option-disabled {
    pointer-events: none;
  }
}
